body {
  height: 200vh;
  margin: 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


